@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap");
@import url("https://fonts.googleapis.com/css?family=Anton");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0 auto;
}
.backdrop {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
}
#header {
  width: 100%;
  background-color: rgb(110, 212, 144);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  position: fixed;
  z-index: 50;
}

#header-img {
  width: 3rem;
  vertical-align: middle;
}

.toggle-button {
  width: 3rem;
  background: transparent;
  vertical-align: middle;
  border: none;
  cursor: pointer;
}

.toggle-button__bar {
  width: 100%;
  height: 0.2rem;
  background: black;
  display: block;
  margin: 0.6rem 0;
}
#nav {
  display: none;
}
#nav-links {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-link {
  margin: 0 1rem;
}

.nav-link a,
#mobile-nav__links a {
  text-decoration: none;
  color: #0e4f1f;
  font-weight: bold;
  padding: 0.2rem 0;
}

#mobile-nav {
  position: fixed;
  left: 0;
  top: 0;
  width: 90%;
  height: 100vh;
  background: #fff;
  z-index: 120;
  display: none;
}

#mobile-nav__links {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height: 100%;
}

.mobile-nav__link {
  margin: 1rem 0rem;
  font-size: large;
  padding-top: 20px;
}

.nav-link a:hover,
.nav-link a:active {
  color: white;
  border-bottom: 5px solid white;
}

#mobile-nav__links a:hover {
  color: rgb(110, 212, 144);
  font-weight: bold;
  outline: none;
}

.open {
  display: block !important;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#features article {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 3;
  width: 100%;
}

form {
  margin-top: 7rem;
  margin-bottom: 2.5rem;
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

[type="submit"] {
  background: #0e4f1f;
  border-radius: 5px;
  padding: 5px 10px;
}

[type="submit"]:hover {
  transform: scale(1.2);
  background-color: rgb(110, 212, 144);
}
#email {
  border-radius: 5px;
  padding: 5px 10px;
  color: #0e4f1f;
  width: 20rem;
  margin-right: 1rem;
  margin-bottom: 5px;
}

.section-title {
  color: #2ddf5c;
  text-align: center;
}

.plan {
  background: #d5ffdc;
  text-align: center;
  padding: 1rem;
  margin: 0.5rem 0;
  width: 100%;
}

.plan--highlighted {
  background: #19b84c;
  color: white;
}

.plan__annotation {
  background: white;
  color: #19b84c;
  padding: 0.5rem;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
}

.plan__title {
  color: #0e4f1f;
}

.plan__price {
  color: #858585;
}

.plan--highlighted .plan__title {
  color: white;
}

.plan--highlighted .plan__price {
  color: #0e4f1f;
}

.plan__features {
  list-style: none;
  margin: 0;
  padding: 0;
}

.plan__feature {
  margin: 0.5rem 0;
}

@media (min-width: 40rem) {
  .plan__list {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .plan {
    width: 30%;
    min-width: 13rem;
    max-width: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 28rem;
  }

  .plan--highlighted {
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
    height: 30rem;
    z-index: 50;
  }
}

#key-features {
  background: #ff1b68;
  margin-top: 5rem;
  padding: 1rem;
}

#key-features .section-title {
  color: white;
  margin: 2rem;
}

.key-feature__list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.key-feature__image {
  background: #ffcede;
  width: 128px;
  height: 128px;
  border: 2px solid #424242;
  border-radius: 50%;
  margin: auto;
  padding: 1.5rem;
}

.key-feature__description {
  text-align: center;
  font-weight: bold;
  color: white;
  font-size: 1.2rem;
}

@media (min-width: 40rem) {
  .key-feature {
    width: 30%;
    max-width: 25rem;
  }

  .key-feature__list {
    display: flex;
    justify-content: center;
  }
}

@media (min-width: 40rem) {
  .toggle-button {
    display: none;
  }
  #nav {
    display: block;
  }

  form {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
